.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /* background: #f8f8f8; */
    /* padding: 20px 0; */
}

.marquee {
    display: flex;
    gap: 40px;
    animation: scroll 20s linear infinite;
}

.marquee-logo {
    /* width: 100px; */
    height: 50px;
}

@keyframes scroll {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}